<!DOCTYPE html>
<html ng-app="MyApp">

<head>
    <title>Using UIB</title>
    <link rel="stylesheet" href="../../bootstrap/css/bootstrap.min.css">
    <script type="text/javascript" src="../../angular.min.js"></script>
    <script type="text/javascript" src="../../ui-bootstrap-tpls-0.14.3.min.js"></script>
    <script type="text/javascript">
    angular.module('MyApp', ['ui.bootstrap'])
        .controller('TabsDemoCtrl', function($scope, $window) {
            $scope.tabs = [{
                title: 'Dynamic Title 1',
                content: 'Dynamic content 1'
            }, {
                title: 'Dynamic Title 2',
                content: 'Dynamic content 2',
                disabled: true
            }];

            $scope.alertMe = function() {
                setTimeout(function() {
                    $window.alert('You\'ve selected the alert tab!');
                });
            };
        });
    </script>
</head>

<body>
    <div ng-controller="TabsDemoCtrl">
        <p>Select a tab by setting active binding to true:</p>
        <p>
            <button type="button" class="btn btn-default btn-sm" ng-click="tabs[0].active = true">Select second tab</button>
            <button type="button" class="btn btn-default btn-sm" ng-click="tabs[1].active = true">Select third tab</button>
        </p>
        <p>
            <button type="button" class="btn btn-default btn-sm" ng-click="tabs[1].disabled = ! tabs[1].disabled">Enable / Disable third tab</button>
        </p>
        <hr />
        <uib-tabset>
            <uib-tab heading="Static title">Static content</uib-tab>
            <uib-tab ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active" disable="tab.disabled">
                {{tab.content}}
            </uib-tab>
            <uib-tab select="alertMe()">
                <uib-tab-heading>
                    <i class="glyphicon glyphicon-bell"></i> Alert!
                </uib-tab-heading>
                I've got an HTML heading, and a select callback. Pretty cool!
            </uib-tab>
        </uib-tabset>
</body>

</html>
